# IntelliJ / JetBrains / VS Code
.idea/
*.iml
shelf/
.vscode/

# Build outputs
bin/
out/
build/
target/
*.class
*.jar
*.war

# Temporary / cache
temp/
*.log
launch4j/

# Project-specific
src/log/
manifest.mf
build.bat
lib/
Arkabit.jar

# System files
.DS_Store
Thumbs.db
